<template>
    <footer class="px-6 px-xl-0" style="background-color: #0062ff; background-image: linear-gradient(135deg, hsla(0, 0%, 100%, 0.05), hsla(0, 0%, 100%, 0))">
        <div class="container d-grid text-white text-center pt-16 pb-14 pb-md-4" style="">
            <Logo light class="mt-16 mt-md-0" />
            <div class="d-inline-grid text-left pt-4" style="grid-template-columns: auto auto 1fr; gap: 1rem">
                <div>Address</div>
                <span>:</span>
                <div>62 Tran Quang Khai, Tan Dinh Ward, District 1, Ho Chi Minh City, Vietnam</div>
                <div>Call us</div>
                <span>:</span>
                <div>
                    <a href="tel:0000000000" class="text-white">00 000 000 00</a>
                </div>
                <div>Email</div>
                <span>:</span>
                <div>kimeiteam@kimeiglobal.com</div>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.242717268543!2d106.69178811554275!3d10.792713261842312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294f8901a4f5%3A0x308c9e4cbcc92102!2zNjIgVHLhuqduIFF1YW5nIEto4bqjaSwgVMOibiDEkOG7i25oLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oIDcwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1613945484358!5m2!1svi!2s"
                style="border: 0; display: block; width: 100%; min-height: 320px; border-radius: 1.5rem; filter: grayscale(1)"
                allowfullscreen=""
                loading="lazy"
            ></iframe>
            <div class="d-flex justify-content-between text-left pt-4">
                <div class="d-flex">
                    <a href="#" class="text-white">Terms<span class="d-none d-md-inline"> of services</span></a>
                    <span class="mx-2">|</span>
                    <a href="#" class="text-white mr-auto">Privacy<span class="d-none d-md-inline"> Policy</span></a>
                </div>
                <span class="ml-auto">Copyright 2021</span>
            </div>
        </div>
    </footer>
</template>