<template>
    <div class="logo" :style="{ height: height }">
        <svg width="183" height="56" viewBox="0 0 183 56" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="!light">
            <g clip-path="url(#clip0)">
                <path
                    d="M54.6341 56L0 22.5366C0 22.5366 0 35.8537 0 36.3659C0 36.8781 0.341463 37.0488 1.02439 37.3902C1.70732 37.7317 28.5122 53.7805 29.5366 54.4634C30.3902 54.9756 32.439 56 34.1463 56C35 55.8293 54.6341 56 54.6341 56Z"
                    fill="url(#paint0_linear)"
                />
                <path
                    d="M20.3171 0.170746C20.3171 3.24392 20.3171 41.8293 20.3171 43.7073C20.3171 52.4147 13.1463 56 8.36584 56C8.36584 54.4634 8.36584 14.1707 8.36584 11.439C8.36584 8.70733 11.2683 0.170746 20.3171 0.170746Z"
                    fill="url(#paint1_linear)"
                />
                <path
                    d="M54.4634 0L0 36.3659C0 36.3659 0 23.7317 0 22.5366C0 21.3415 0.512195 21 1.53659 20.3171C2.56098 19.6341 29.5366 1.70732 30.0488 1.19512C30.561 0.682927 32.7805 0 35 0C36.1951 0 54.4634 0 54.4634 0Z"
                    fill="url(#paint2_linear)"
                />
                <path d="M64.9474 31.3662V0.289612H71.3902V14.312L85.0335 0.289612H92.9922L77.8329 15.0699L93.5607 31.3662H84.8441L71.2007 16.7754V31.3662H64.9474Z" fill="#111111" />
                <path d="M96.024 31.3662V0.289612H102.467V31.5557H96.024V31.3662Z" fill="#111111" />
                <path d="M124.827 29.2818L114.026 8.43772V31.3662H107.962V0.289589H116.3L125.016 16.9648L133.543 0.100098H141.881V31.3662H135.817V8.43772L124.827 29.2818Z" fill="#111111" />
                <path d="M147.376 31.3662V0.289612H171.442V5.97436H153.819V13.175H165.378V18.6703H153.819V26.0605H171.442V31.7452H147.376V31.3662Z" fill="#111111" />
                <path d="M176.179 31.3662V0.289612H182.622V31.5557H176.179V31.3662Z" fill="#111111" />
                <path
                    d="M82.7597 46.3359C82.7597 47.6624 82.5702 48.9888 82.0017 50.1257C81.6227 51.2627 80.8647 52.2102 80.1068 53.1576C79.3488 53.9156 78.4014 54.6735 77.2644 55.0525C76.1275 55.621 74.9905 55.8105 73.6641 55.8105C72.3376 55.8105 71.0112 55.621 69.8742 55.0525C68.7373 54.4841 67.6003 53.9156 66.8424 53.1576C65.8949 52.3996 65.3264 51.2627 64.758 50.1257C64.1895 48.9888 64 47.6624 64 46.5254C64 45.199 64.1895 44.062 64.758 42.9251C65.3264 41.7881 65.8949 40.8407 66.8424 39.8932C67.7898 38.9457 68.7373 38.3773 69.8742 37.9983C71.0112 37.4298 72.3376 37.2403 73.6641 37.2403C75.18 37.2403 76.5064 37.6193 77.8329 38.1878C79.1593 38.7563 80.2963 39.7037 81.0542 40.6512L78.4014 43.1146C77.8329 42.3566 77.0749 41.7881 76.1275 41.4091C75.3695 41.0302 74.422 40.8407 73.4746 40.8407C72.7166 40.8407 71.9586 41.0302 71.2007 41.2196C70.4427 41.5986 69.8742 41.9776 69.3058 42.5461C68.7373 43.1146 68.3583 43.683 68.1688 44.441C67.7898 45.199 67.7898 45.9569 67.7898 46.7149C67.7898 47.4729 67.9793 48.4203 68.1688 48.9888C68.5478 49.7468 68.9268 50.3152 69.3058 50.8837C69.8742 51.4522 70.4427 51.8312 71.2007 52.2102C71.9586 52.5891 72.7166 52.5891 73.4746 52.5891C74.801 52.5891 75.938 52.2102 76.6959 51.4522C77.6434 50.6942 78.2119 49.7468 78.4014 48.7993H73.0956V45.578H82.5702V46.3359H82.7597Z"
                    fill="#111111"
                />
                <path d="M88.6339 36.4824V55.4315H85.0336V37.2403L88.6339 36.4824Z" fill="#111111" />
                <path
                    d="M90.9078 48.7993C90.9078 47.8519 91.0973 46.9044 91.4763 45.957C91.8553 45.0095 92.4237 44.441 92.9922 43.6831C93.5607 43.1146 94.3186 42.5461 95.2661 42.1671C96.2136 41.7882 97.161 41.5987 98.1085 41.5987C99.0559 41.5987 100.003 41.7882 100.951 42.1671C101.898 42.5461 102.656 43.1146 103.225 43.6831C103.793 44.2515 104.362 45.0095 104.741 45.957C105.12 46.9044 105.309 47.6624 105.309 48.7993C105.309 49.9363 105.12 50.6943 104.741 51.6417C104.362 52.5892 103.793 53.1576 103.225 53.9156C102.656 54.4841 101.898 55.0526 100.951 55.4315C100.003 55.8105 99.0559 56 98.1085 56C97.161 56 96.2136 55.8105 95.2661 55.4315C94.3186 55.0526 93.5607 54.4841 92.9922 53.9156C92.4237 53.3471 91.8553 52.5892 91.4763 51.6417C91.0973 50.6943 90.9078 49.7468 90.9078 48.7993ZM98.1085 52.5892C99.0559 52.5892 100.003 52.2102 100.761 51.4522C101.519 50.6943 101.898 49.7468 101.898 48.6099C101.898 47.4729 101.519 46.5254 100.761 45.7675C100.003 45.0095 99.0559 44.6305 98.1085 44.6305C97.161 44.6305 96.2136 45.0095 95.4556 45.7675C94.6976 46.5254 94.3186 47.4729 94.3186 48.6099C94.3186 49.7468 94.6976 50.6943 95.4556 51.4522C96.2136 52.2102 96.9715 52.5892 98.1085 52.5892Z"
                    fill="#111111"
                />
                <path
                    d="M121.795 48.7993C121.795 49.7468 121.605 50.6942 121.226 51.4522C120.847 52.2102 120.279 52.9681 119.71 53.7261C119.142 54.2946 118.384 54.8631 117.437 55.242C116.489 55.621 115.731 55.8105 114.784 55.8105C114.026 55.8105 113.457 55.621 112.889 55.4315C112.32 55.242 111.752 55.0525 111.183 54.6736V55.621H107.583V37.4298L111.183 36.6719V43.1146C111.752 42.7356 112.32 42.3566 112.889 42.1671C113.457 41.9776 114.215 41.7881 114.973 41.7881C115.921 41.7881 116.868 41.9776 117.626 42.3566C118.384 42.7356 119.142 43.3041 119.9 43.8726C120.468 44.441 121.037 45.199 121.416 46.1464C121.605 46.9044 121.795 47.6624 121.795 48.7993ZM114.215 44.82C113.647 44.82 112.889 45.0095 112.51 45.199C111.941 45.3885 111.562 45.7675 110.994 46.1464V51.4522C111.373 51.8312 111.941 52.2102 112.32 52.3997C112.889 52.5892 113.457 52.7787 114.215 52.7787C115.352 52.7787 116.3 52.3997 117.058 51.6417C117.816 50.8837 118.195 49.9363 118.195 48.7993C118.195 47.6624 117.816 46.7149 117.058 45.957C116.3 45.199 115.352 44.82 114.215 44.82Z"
                    fill="#111111"
                />
                <path
                    d="M128.238 55.621C126.722 55.621 125.585 55.2421 124.637 54.4841C123.69 53.7261 123.311 52.7787 123.311 51.4522C123.311 50.1258 123.879 49.1783 124.827 48.4204C125.774 47.6624 127.101 47.2834 128.996 47.2834C129.564 47.2834 130.133 47.2834 130.701 47.4729C131.269 47.4729 131.838 47.6624 132.406 47.8519V46.9044C132.406 46.1465 132.217 45.578 131.648 45.199C131.08 44.82 130.512 44.6305 129.564 44.6305C128.996 44.6305 128.427 44.6305 127.669 44.82C126.911 45.0095 126.153 45.199 125.395 45.578L123.879 43.1146C125.016 42.5461 125.964 42.3566 126.911 41.9776C127.859 41.7882 128.806 41.5987 129.943 41.5987C131.838 41.5987 133.164 41.9776 134.112 42.9251C135.059 43.8726 135.628 45.0095 135.628 46.7149V55.4315H132.027V54.4841C131.459 54.8631 130.891 55.2421 130.133 55.4315C129.754 55.621 128.996 55.621 128.238 55.621ZM126.722 51.4522C126.722 52.0207 126.911 52.3997 127.48 52.7787C127.859 53.1576 128.617 53.1576 129.185 53.1576C129.754 53.1576 130.322 53.1576 130.891 52.9682C131.459 52.7787 131.838 52.5892 132.217 52.3997V50.3153C131.838 50.1258 131.269 49.9363 130.891 49.9363C130.322 49.9363 129.943 49.7468 129.375 49.7468C128.617 49.7468 127.859 49.9363 127.48 50.1258C126.911 50.5048 126.722 50.8837 126.722 51.4522Z"
                    fill="#111111"
                />
                <path d="M141.881 36.4824V55.4315H138.281V37.2403L141.881 36.4824Z" fill="#111111" />
            </g>
            <defs>
                <linearGradient id="paint0_linear" x1="54.6709" y1="39.2632" x2="0" y2="39.2632" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#30BCEE" />
                    <stop offset="0.1849" stop-color="#2FB9EB" />
                    <stop offset="0.3384" stop-color="#2DAFE2" />
                    <stop offset="0.4806" stop-color="#29A1D6" />
                    <stop offset="0.616" stop-color="#258EC6" />
                    <stop offset="0.7467" stop-color="#2178B3" />
                    <stop offset="0.8733" stop-color="#1C609D" />
                    <stop offset="0.9952" stop-color="#164687" />
                    <stop offset="1" stop-color="#154586" />
                </linearGradient>
                <linearGradient id="paint1_linear" x1="25.677" y1="47.6705" x2="2.90499" y2="8.22809" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F9AA39" />
                    <stop offset="0.081809" stop-color="#F7B241" />
                    <stop offset="0.3438" stop-color="#F5CA59" />
                    <stop offset="0.5911" stop-color="#F2DB6A" />
                    <stop offset="0.8159" stop-color="#F1E574" />
                    <stop offset="0.9975" stop-color="#F1E978" />
                </linearGradient>
                <linearGradient id="paint2_linear" x1="52.7875" y1="-2.93624" x2="-3.85665" y2="29.7674" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#48BEEE" />
                    <stop offset="0.302" stop-color="#47BCED" />
                    <stop offset="0.4812" stop-color="#43B7E9" />
                    <stop offset="0.6284" stop-color="#3EADE2" />
                    <stop offset="0.7583" stop-color="#369FD9" />
                    <stop offset="0.8767" stop-color="#2C8FCE" />
                    <stop offset="0.9852" stop-color="#207CC1" />
                    <stop offset="1" stop-color="#1E79BF" />
                </linearGradient>
                <clipPath id="clip0">
                    <rect width="183" height="56" fill="white" />
                </clipPath>
            </defs>
        </svg>
        <svg width="180" height="56" viewBox="0 0 180 56" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="light">
            <path
                d="M51.4843 53.5323L1.26498 22.7642C1.26498 22.7642 1.26498 34.9653 1.26498 35.4958C1.26498 36.0263 1.61864 36.2031 2.32595 36.3799C3.03327 36.5568 27.6124 51.5872 28.4966 52.1177C29.2039 52.6482 31.149 53.5323 32.7404 53.5323C33.2709 53.3555 51.4843 53.5323 51.4843 53.5323Z"
                stroke="white"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linejoin="round"
            />
            <path
                d="M19.832 2.0752C19.832 4.90445 19.832 40.447 19.832 42.0384C19.832 49.9957 13.2893 53.3554 8.86859 53.3554C8.86859 51.9408 8.86859 14.8068 8.86859 12.3312C8.86859 9.85565 11.521 2.0752 19.832 2.0752Z"
                stroke="white"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linejoin="round"
            />
            <path
                d="M51.3074 2.07502L1.08813 35.6724C1.08813 35.6724 1.08813 24.0017 1.08813 22.9408C1.08813 21.8798 1.61862 21.5261 2.50276 20.9957C3.3869 20.4652 28.3197 3.48965 28.8502 3.13599C29.3807 2.78234 31.3258 1.89819 33.2709 1.89819C34.5087 2.07502 51.3074 2.07502 51.3074 2.07502Z"
                stroke="white"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linejoin="round"
            />
            <path d="M61.4543 31.5121V0.379883H67.9085V14.4273L81.5763 0.379883H89.5492L74.3627 15.1867L90.1187 31.5121H81.3865L67.7187 16.8951V31.5121H61.4543Z" fill="white" />
            <path d="M92.5865 31.5121V0.379883H99.0407V31.7019H92.5865V31.5121Z" fill="white" />
            <path d="M121.441 29.4238L110.62 8.54248V31.512H104.546V0.379772H112.898L121.631 17.0849L130.173 0.189941H138.525V31.512H132.451V8.54248L121.441 29.4238Z" fill="white" />
            <path d="M144.031 31.5121V0.379883H168.139V6.0748H150.485V13.2884H162.064V18.7934H150.485V26.1968H168.139V31.8917H144.031V31.5121Z" fill="white" />
            <path d="M172.885 31.5121V0.379883H179.339V31.7019H172.885V31.5121Z" fill="white" />
            <path
                d="M79.2983 46.5086C79.2983 47.8374 79.1085 49.1662 78.539 50.3052C78.1593 51.4442 77.4 52.3933 76.6407 53.3425C75.8814 54.1018 74.9322 54.8611 73.7932 55.2408C72.6542 55.8103 71.5153 56.0001 70.1864 56.0001C68.8576 56.0001 67.5288 55.8103 66.3898 55.2408C65.2509 54.6713 64.1119 54.1018 63.3526 53.3425C62.4034 52.5832 61.8339 51.4442 61.2644 50.3052C60.6949 49.1662 60.5051 47.8374 60.5051 46.6984C60.5051 45.3696 60.6949 44.2306 61.2644 43.0916C61.8339 41.9527 62.4034 41.0035 63.3526 40.0544C64.3017 39.1052 65.2509 38.5357 66.3898 38.1561C67.5288 37.5866 68.8576 37.3967 70.1864 37.3967C71.7051 37.3967 73.0339 37.7764 74.3627 38.3459C75.6915 38.9154 76.8305 39.8645 77.5898 40.8137L74.9322 43.2815C74.3627 42.5222 73.6034 41.9527 72.6542 41.573C71.8949 41.1933 70.9458 41.0035 69.9966 41.0035C69.2373 41.0035 68.478 41.1933 67.7187 41.3832C66.9593 41.7628 66.3898 42.1425 65.8203 42.712C65.2509 43.2815 64.8712 43.851 64.6814 44.6103C64.3017 45.3696 64.3017 46.1289 64.3017 46.8883C64.3017 47.6476 64.4915 48.5967 64.6814 49.1662C65.061 49.9255 65.4407 50.495 65.8203 51.0645C66.3898 51.634 66.9593 52.0137 67.7187 52.3933C68.478 52.773 69.2373 52.773 69.9966 52.773C71.3254 52.773 72.4644 52.3933 73.2237 51.634C74.1729 50.8747 74.7424 49.9255 74.9322 48.9764H69.617V45.7493H79.1085V46.5086H79.2983Z"
                fill="white"
            />
            <path d="M85.1831 36.6375V55.6205H81.5763V37.3968L85.1831 36.6375Z" fill="white" />
            <path
                d="M87.461 48.9765C87.461 48.0273 87.6509 47.0782 88.0305 46.129C88.4102 45.1799 88.9797 44.6104 89.5492 43.8511C90.1187 43.2816 90.878 42.7121 91.8272 42.3324C92.7763 41.9528 93.7255 41.7629 94.6746 41.7629C95.6238 41.7629 96.5729 41.9528 97.5221 42.3324C98.4712 42.7121 99.2305 43.2816 99.8 43.8511C100.37 44.4206 100.939 45.1799 101.319 46.129C101.698 47.0782 101.888 47.8375 101.888 48.9765C101.888 50.1155 101.698 50.8748 101.319 51.824C100.939 52.7731 100.37 53.3426 99.8 54.1019C99.2305 54.6714 98.4712 55.2409 97.5221 55.6206C96.5729 56.0002 95.6238 56.1901 94.6746 56.1901C93.7255 56.1901 92.7763 56.0002 91.8272 55.6206C90.878 55.2409 90.1187 54.6714 89.5492 54.1019C88.9797 53.5324 88.4102 52.7731 88.0305 51.824C87.6509 50.8748 87.461 49.9257 87.461 48.9765ZM94.6746 52.7731C95.6238 52.7731 96.5729 52.3934 97.3322 51.6341C98.0916 50.8748 98.4712 49.9257 98.4712 48.7867C98.4712 47.6477 98.0916 46.6985 97.3322 45.9392C96.5729 45.1799 95.6238 44.8002 94.6746 44.8002C93.7255 44.8002 92.7763 45.1799 92.017 45.9392C91.2577 46.6985 90.878 47.6477 90.878 48.7867C90.878 49.9257 91.2577 50.8748 92.017 51.6341C92.7763 52.3934 93.5356 52.7731 94.6746 52.7731Z"
                fill="white"
            />
            <path
                d="M118.403 48.9765C118.403 49.9257 118.214 50.8749 117.834 51.6342C117.454 52.3935 116.885 53.1528 116.315 53.9121C115.746 54.4816 114.986 55.0511 114.037 55.4308C113.088 55.8104 112.329 56.0003 111.38 56.0003C110.62 56.0003 110.051 55.8104 109.481 55.6206C108.912 55.4308 108.342 55.241 107.773 54.8613V55.8104H104.166V37.5867L107.773 36.8274V43.2816C108.342 42.902 108.912 42.5223 109.481 42.3325C110.051 42.1426 110.81 41.9528 111.569 41.9528C112.519 41.9528 113.468 42.1426 114.227 42.5223C114.986 42.902 115.746 43.4715 116.505 44.041C117.075 44.6104 117.644 45.3698 118.024 46.3189C118.214 47.0782 118.403 47.8376 118.403 48.9765ZM110.81 44.9901C110.241 44.9901 109.481 45.1799 109.102 45.3698C108.532 45.5596 108.153 45.9393 107.583 46.3189V51.6342C107.963 52.0138 108.532 52.3935 108.912 52.5833C109.481 52.7732 110.051 52.963 110.81 52.963C111.949 52.963 112.898 52.5833 113.658 51.824C114.417 51.0647 114.797 50.1155 114.797 48.9765C114.797 47.8376 114.417 46.8884 113.658 46.1291C112.898 45.3698 111.949 44.9901 110.81 44.9901Z"
                fill="white"
            />
            <path
                d="M124.858 55.8104C123.339 55.8104 122.2 55.4307 121.251 54.6714C120.302 53.9121 119.922 52.9629 119.922 51.6341C119.922 50.3053 120.492 49.3562 121.441 48.5968C122.39 47.8375 123.719 47.4579 125.617 47.4579C126.186 47.4579 126.756 47.4579 127.325 47.6477C127.895 47.6477 128.464 47.8375 129.034 48.0273V47.0782C129.034 46.3189 128.844 45.7494 128.275 45.3697C127.705 44.9901 127.136 44.8002 126.186 44.8002C125.617 44.8002 125.047 44.8002 124.288 44.9901C123.529 45.1799 122.769 45.3697 122.01 45.7494L120.492 43.2816C121.631 42.7121 122.58 42.5223 123.529 42.1426C124.478 41.9528 125.427 41.7629 126.566 41.7629C128.464 41.7629 129.793 42.1426 130.742 43.0918C131.692 44.0409 132.261 45.1799 132.261 46.8884V55.6206H128.654V54.6714C128.085 55.0511 127.515 55.4307 126.756 55.6206C126.376 55.8104 125.617 55.8104 124.858 55.8104ZM123.339 51.6341C123.339 52.2036 123.529 52.5833 124.098 52.9629C124.478 53.3426 125.237 53.3426 125.807 53.3426C126.376 53.3426 126.946 53.3426 127.515 53.1528C128.085 52.9629 128.464 52.7731 128.844 52.5833V50.4951C128.464 50.3053 127.895 50.1155 127.515 50.1155C126.946 50.1155 126.566 49.9257 125.997 49.9257C125.237 49.9257 124.478 50.1155 124.098 50.3053C123.529 50.685 123.339 51.0646 123.339 51.6341Z"
                fill="white"
            />
            <path d="M138.525 36.6375V55.6205H134.919V37.3968L138.525 36.6375Z" fill="white" />
        </svg>
    </div>
</template>

<script>
export default {
    props: {
        light: {
            type: Boolean,
            default: false,
        },
        height: {
            type: String,
            default: '56px',
        },
    },
}
</script>
<style lang="scss" scoped>
.logo {
    > svg,
    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}
</style>