<template>
    <div>
        <nav class="nav-menu" :class="{ show: show }" :style="{ 'grid-template-columns': 'repeat(' + menus.length + ',auto)' }">
            <nuxt-link :to="'/' + menu.slug" class="nav-item" :class="menu.slug !== 'contact' ? 'btn': 'btn-primary-gradient-outline-lg'" v-for="menu in menus" :key="menu.slug">
                <template v-if="menu.slug !== 'contact'">
                    {{ menu.name }}
                </template>
                <template v-else>
                    <span class="mr-2">Get in touch</span>
                    <ph-arrow-right class="icon" :size="16" weight="bold" />
                </template>
            </nuxt-link>
        </nav>
    </div>
</template>

<script>
import { PhArrowRight } from "phosphor-vue";
export default {
    props: {
        show: {
            type: Boolean,
            default: false,
        },
    },
    components: { PhArrowRight },
    data: () => {
        return {
            menus: [
                { name: "Services", slug: "services" },
                { name: "Portfolio", slug: "portfolio" },
                { name: "Jobs", slug: "jobs" },
                { name: "Blogs", slug: "blogs" },
                { name: "About", slug: "about" },
                { name: "Contact", slug: "contact" },
            ],
        };
    },
};
</script>