.btn,
[class*='btn-'] {
    padding: 0 15px;
    border-radius: 0.75rem;
    height: var(--btn-size);
    line-height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    > i,
    > svg,
    > [class*='ph-'] {
        color: currentColor;
        + span {
            margin-left: 10px;
            line-height: inherit;
            vertical-align: middle;
            color: currentColor;
            white-space: nowrap;
        }
    }

    &[class*='-sm'] {
        height: var(--btn-size-sm);
        line-height: var(--btn-size-sm);
    }
    &[class*='-lg'] {
        height: var(--btn-size-lg);
        line-height: var(--btn-size-lg);
    }
    &[class*='-xl'] {
        height: var(--btn-size-xl);
        line-height: var(--btn-size-xl);
    }

    &[class*='-outline'] {
        border: 2px solid transparent;
    }

    &[class*='-outline']:not(:hover) {
        background-color: transparent;
        border: 2px solid currentColor;
    }

    &[class*='btn-light'] {
        background-color: var(--white);
        color: var(--black) !important;
        &[class*='-outline']:not(:hover) {
            color: var(--white) !important;
        }
    }
    &[class*='btn-primary'] {
        background-color: var(--primary);
        color: var(--white) !important;
        &[class*='-outline']:not(:hover) {
            color: var(--primary) !important;
        }
        &[class*='-gradient'], &[class*='-gradient'][class*='-outline']{
            background-image: linear-gradient(135deg, var(--primary), #0062ff);
        }
    }
    &[class*='btn-outline-bg'] {
        background-color: var(--white);
        border: 1px solid var(--primary);
        color: var(--primary);
    }
    &[class*='btn-accent'] {
        box-shadow: var(--shadow);
        border: 1px solid var(--white);
        background-color: var(--white);
        > span {
            color: currentColor !important;
        }
        &:hover,
        &.active {
            box-shadow: none !important;
            border: 1px solid currentColor;
            background-color: currentColor;
            > span {
                color: var(--white) !important;
            }
        }
    }
    &[class*='btn-icon'] {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-height: 36px;
        min-width: 36px;
        height: 36px;
        width: 36px;
        padding: 0;
    }
    &[class*='btn-no']:hover {
        background-color: var(--border-light);
        box-shadow: inset var(--shadow-sm);
    }

    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none !important;
    }
    &:disabled,
    &[disabled] {
        background-color: var(--border) !important;
        color: var(--white) !important;
        border-color: var(--border) !important;
        pointer-events: none !important;
        box-shadow: none !important;
    }
}
