// home
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.media-3x2 {
    height: 0;
    overflow: hidden;
    padding-top: calc(2 / 3 * 100%);
    position: relative;
    .media-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.2s ease-in-out;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
.home-container {
    width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
///////
.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    gap: 2rem;
    .nav-item {
        text-transform: uppercase;
        color: var(--black);
        background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02));
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0 0;
        transition: 0.2s ease-in-out;
        &:hover,
        &.active {
            text-decoration: none;
            color: var(--primary);
            background-size: 100% 100%;
            text-shadow: 0 2px 2px rgba(#074ee8, 0.15);
        }

        .icon {
            transition: 0.2s ease-in-out;
        }
        &:hover {
            .icon {
                transform: translateX(0.25rem);
            }
        }
    }
    @media (max-width: map-get($breakpoints, 'md')) {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 112px;
        gap: 0;
        align-content: flex-end;
        width: 110vw;
        height: calc(100vh);
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 68px;
        left: 0;
        z-index: 100;
        background: var(--white);
        backdrop-filter: blur(2rem);
        padding: 1.5rem 1.5rem 112px;
        transform: translateX(-110vw);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        .nav-item {
            height: var(--btn-size-xl);
            justify-content: flex-end;
            padding: 0;
            &[class*='btn-primary'] {
                display: none;
            }
        }

        &.show {
            transform: translateX(-10vw);
        }
    }
}
.mobile-nav {
    height: 56px;
    position: sticky;
    bottom: 0;
    z-index: 102;
    background-color: rgba(#fff, 0.85);
    backdrop-filter: blur(1rem);
    border-top: 1px solid #fff;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.03);
}

header,
.header {
    background: rgba(#ede9e6, 0.5);
    backdrop-filter: blur(1rem);
    z-index: 99;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease-in-out;
    .header-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    &.dark-header {
        background: rgba(0, 0, 0, 0.01) !important;
        border-bottom: 1px solid rgba(#fff, 0) !important;
        nav {
            .nav-item {
                color: var(--white);
                @media (max-width: map-get($breakpoints, 'md')) {
                    color: var(--black);
                }
            }
        }
    }
    @media (max-width: map-get($breakpoints, 'md')) {
        &.sticky-top {
            top: -68px;
        }
    }
}
.divider {
    width: 100%;
    border-bottom: 1px solid var(--border);
}
main {
    section {
        min-height: 25vh;
        scroll-snap-align: start;
        .section-title {
            font-size: 2.5rem;
            font-weight: 500;
        }
        &#hero {
            background: rgba(#ede9e6, 0.5);
            min-height: calc(100vh - 68px);
            @media (max-width: map-get($breakpoints, 'md')) {
                height: auto !important;
            }
            .home-hero-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
                @media (max-width: map-get($breakpoints, 'md')) {
                    font-size: 3.5rem;
                    grid-template-columns: 1fr;
                }
                .hero-heading {
                    font-weight: 600;
                    font-size: 5rem;
                    text-transform: capitalize;
                    line-height: 1.2;
                    margin-bottom: 0;
                    display: inline-block;
                    background-image: linear-gradient(90deg, var(--primary), var(--secondary));
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    @media (max-width: map-get($breakpoints, 'md')) {
                        font-size: 3rem;
                        position: relative;
                        z-index: 1;
                    }
                }
                .hero-intro {
                    font-size: 1.5rem;
                    font-weight: 500;
                    max-width: 600px;
                    @media (max-width: map-get($breakpoints, 'md')) {
                        font-size: 1rem;
                        max-width: 100%;
                        padding: 0 !important;
                        margin-top: 1.5rem;
                        position: relative;
                        z-index: 1;
                    }
                }
                img {
                    @media (max-width: map-get($breakpoints, 'md')) {
                        max-width: 60vw;
                        transform: none !important;
                        margin: 0 !important;
                        position: relative;
                        z-index: 0;
                        &:first-of-type {
                            margin-left: auto !important;
                            margin-top: -3rem !important;
                        }
                    }
                }
            }
        }
        &#services {
            .home-services-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                gap: 2rem;
                transition: 0.2s ease-in-out;
                @media (max-width: map-get($breakpoints, 'md')) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0.5rem;
                }
                .service-item {
                    border-radius: 1.5rem;
                    background-color: var(--light);
                    background-image: linear-gradient(135deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0));
                    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
                    color: var(--white);
                    position: relative;
                    height: 0;
                    overflow: hidden;
                    padding-top: 100%;
                    z-index: 0;
                    transition: 0.2s ease-in-out;
                    &.blue-bg {
                        background-color: #0062ff;
                    }
                    &.dark-bg {
                        background-color: #212223;
                    }
                    &.blue-light-bg {
                        background-color: #3e7df0;
                    }
                    &.black-bg {
                        background-color: #0f0322;
                    }
                    > * {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h4 {
                            font-weight: 600;
                            font-size: 1.5rem;
                            .icon {
                                opacity: 0;
                                transition: 0.35s ease-in-out;
                            }
                        }
                        @media (max-width: map-get($breakpoints, 'md')) {
                            padding: 1rem !important;
                            h4 {
                                font-size: 1rem;
                                line-height: 1.2;
                                margin-bottom: 0;
                                .icon {
                                    opacity: 1;
                                    margin-left: 0.5rem;
                                }
                            }
                        }
                    }

                    &:hover {
                        box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(0, 0, 0, 0.35);
                        filter: drop-shadow(50px 50px 25px rgba(0, 0, 0, 0.15));
                        margin-top: -1rem;
                        z-index: 10;

                        .icon {
                            transform: translateX(1rem);
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &#features {
            .featured-card {
                border-radius: 1.5rem;
                background-color: var(--primary);
                background-image: linear-gradient(175deg, var(--primary), #0062ff);
                min-height: 50vh;
                .card-title {
                    font-size: 5rem;
                    font-weight: 600;
                    max-width: 75%;
                    line-height: 1.2;
                    @media (max-width: map-get($breakpoints, 'md')) {
                        font-size: 3rem;
                        max-width: 100%;
                    }
                }
                > a {
                    box-shadow: var(--shadow);
                    .icon {
                        transition: inherit;
                    }
                    &:hover {
                        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);
                        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
                        .icon {
                            transform: translateX(1rem);
                        }
                    }
                }
                img {
                    @media (max-width: map-get($breakpoints, 'md')) {
                        max-width: 100%;
                        margin-top: 1.5rem !important;
                    }
                }
            }
        }
        &#portfolios {
            .home-portfolios-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                gap: 2rem;
                transition: 0.2s ease-in-out;
                @media (max-width: map-get($breakpoints, 'md')) {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 1rem;
                }
                .portfolio-item {
                    border-radius: 1.5rem;
                    background-color: var(--light);
                    background-image: linear-gradient(135deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0));
                    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
                    color: var(--black);
                    position: relative;
                    height: 0;
                    overflow: hidden;
                    padding-top: 100%;
                    z-index: 0;
                    transition: 0.2s ease-in-out;
                    > * {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h4 {
                            font-weight: 600;
                            font-size: 1.5rem;
                            .icon {
                                opacity: 0;
                                transition: 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                            }
                        }
                        @media (max-width: map-get($breakpoints, 'md')) {
                            padding: 1rem !important;
                            h4 {
                                font-size: 1rem;
                                line-height: 1.2;
                                margin-bottom: 0;
                                .icon {
                                    opacity: 1;
                                    margin-left: 0.5rem;
                                }
                            }
                        }
                    }
                    &:hover {
                        box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(0, 0, 0, 0.35);
                        filter: drop-shadow(50px 50px 25px rgba(0, 0, 0, 0.15));
                        margin-top: -1rem;
                        z-index: 10;

                        .media-wrapper {
                            box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15);
                        }

                        .icon {
                            transform: translateX(1rem);
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &#blogs {
            .home-blogs-grid {
                display: grid;
                grid-template-columns: repeat(5, 100%);
                width: 35vw;
                overflow-x: scroll;
                gap: 3rem;
                padding-bottom: 3rem;
                scroll-snap-type: x mandatory;
                @media (max-width: map-get($breakpoints, 'md')) {
                    width: calc(100vw - 3rem);
                }

                .blog-item {
                    scroll-snap-align: center;
                    display: grid;
                    .blog-heading {
                        font-weight: 600;
                        font-size: 3rem;
                        text-transform: capitalize;
                        line-height: 1.2;
                        margin-bottom: 0;
                        display: inline-block;
                        background-image: linear-gradient(90deg, var(--primary), var(--secondary));
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        padding: 1rem;
                        @media (max-width: map-get($breakpoints, 'md')) {
                            font-size: 2rem;
                            position: relative;
                            z-index: 1;
                        }
                    }
                    .blog-info {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        align-items: center;
                        gap: 1rem;
                        padding: 1rem;
                        .editor {
                            width: 56px;
                            height: 56px;
                            border-radius: 56px;
                            background-color: var(--light);
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        &#jobs {
            .home-jobs-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                gap: 2rem;
                transition: 0.2s ease-in-out;
                @media (max-width: map-get($breakpoints, 'md')) {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 1rem;
                }
                .job-item {
                    border-radius: 1.5rem;
                    background-color: var(--light);
                    background-image: linear-gradient(135deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0));
                    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
                    color: var(--black);
                    position: relative;
                    height: 0;
                    overflow: hidden;
                    padding-top: 100%;
                    z-index: 0;
                    transition: 0.2s ease-in-out;
                    > * {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h4 {
                            font-weight: 600;
                            font-size: 1.5rem;
                            .icon {
                                opacity: 0;
                                transition: 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                            }
                        }
                        @media (max-width: map-get($breakpoints, 'md')) {
                            padding: 1rem !important;
                            h4 {
                                font-size: 1rem;
                                line-height: 1.2;
                                margin-bottom: 0;
                                .icon {
                                    opacity: 1;
                                    margin-left: 0.5rem;
                                }
                            }
                        }
                    }
                    &:hover {
                        box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(0, 0, 0, 0.35);
                        filter: drop-shadow(50px 50px 25px rgba(5, 4, 4, 0.15));
                        margin-top: -1rem;
                        z-index: 10;

                        .media-wrapper {
                            box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15);
                        }

                        .icon {
                            transform: translateX(1rem);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

footer {
    .container.d-grid {
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        gap: 1.5rem;
        height: 100%;
        .logo {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: flex-start;
        }
        > :nth-child(2) {
            grid-row: 2/3;
            grid-column: 1/2;
        }
        > :nth-child(3) {
            grid-row: 1/3;
            grid-column: 2/3;
        }
        > :last-child {
            grid-column: span 2;
            border-top: 1px solid var(--border);
        }
    }
    @media (max-width: map-get($breakpoints, 'md')) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        height: 100vh;
        .container.d-grid {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 1fr auto;
            .logo {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            > :nth-child(2) {
                grid-row: 2/3;
            }
            > :nth-child(3) {
                grid-row: 3/4;
                grid-column: 1/2;
            }
            > :last-child {
                grid-column: span 1;
            }
        }
    }
}
