@each $type in $align-types {
  @each $align, $value in $alignments {
    .align-#{$type}-#{$align} {
      align-#{$type}: #{$value} !important;
    }
  }
}
@each $type in $align-types {
  @each $justify, $value in $justifies {
    .justify-#{$type}-#{$justify} {
      justify-#{$type}: #{$value} !important;
    }
  }
}
@each $breakpoint, $min-width in $breakpoints {
  @media (min-width: $min-width) {
    @each $type in $align-types {
      @each $align, $value in $alignments {
        .align-#{$type}-#{$breakpoint}-#{$align} {
          align-#{$type}: #{$value} !important;
        }
      }
    }
    @each $type in $align-types {
      @each $justify, $value in $justifies {
        .justify-#{$type}-#{$breakpoint}-#{$justify} {
          justify-#{$type}: #{$value} !important;
        }
      }
    }
  }
}

@each $text-align in $text-alignments {
  .text-#{$text-align} {
    text-align: #{$text-align} !important;
  }
}
@each $breakpoint, $min-width in $breakpoints {
  @media (min-width: $min-width) {
    @each $text-align in $text-alignments {
      .text-#{$breakpoint}-#{$text-align} {
        text-align: #{$text-align} !important;
      }
    }
  }
}

@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: var(--#{$color}) !important;
  }
  .bg-#{$color} {
    background-color: var(--#{$color}) !important;
  }
}
.text-amount {
  font-family: $global-font-amount !important;
  &input,
  input {
    text-align: right;
  }
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.sticky-top {
  position: sticky;
  top: 0;
}
.font-size-root {
  font-size: 1rem;
}
.bg-light {
  background-color: var(--light) !important;
}
.border-top {
  border-top: 1px solid var(--border-light);
}
.border-bottom {
  border-bottom: 1px solid var(--border-light);
}
.border-left {
  border-left: 1px solid var(--border-light);
}
.border-right {
  border-right: 1px solid var(--border-light);
}
.border-all {
  border: 1px solid var(--border-light);
}
.border-radius-top-left {
  border-top-left-radius: $border-radius;
}
.border-radius-top-right {
  border-top-right-radius: $border-radius;
}
.border-radius-bottom-left {
  border-bottom-left-radius: $border-radius;
}
.border-radius-bottom-right {
  border-bottom-right-radius: $border-radius;
}
.border-radius-all {
  border-radius: $border-radius;
}
@each $breakpoint, $min-width in $breakpoints {
  @media (min-width: $min-width) {
    .text-#{$breakpoint}-wrap {
      white-space: normal !important;
    }
    .text-#{$breakpoint}-nowrap {
      white-space: nowrap !important;
    }
  }
}

@each $shadow, $value in $shadows {
  .#{$shadow} {
    box-shadow: $value;
  }
}

@each $position in $position-type {
  .position-#{$position} {
    position: #{$position} !important;
  }
}
