.container-fluid,
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@each $container-max-width, $max-width in $container-max-widths {
    @media (min-width: map-get($breakpoints, $container-max-width)) {
        .container {
            max-width: $max-width;
        }
    }
}

@each $display in $displays {
    .d-#{$display} {
        display: #{$display} !important;
    }
}
@each $breakpoint, $min-width in $breakpoints {
    @media (min-width: $min-width) {
        @each $display in $displays {
            .d-#{$breakpoint}-#{$display} {
                display: #{$display} !important;
            }
        }
    }
}
