// Do not forget to update getting-started/theming.md!
:root {
  // Custom variable values only support SassScript inside `#{}`.
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  @each $bp, $value in $breakpoints {
    --breakpoint-#{$bp}: #{$value};
  }

  @each $shadow, $value in $shadows {
    --#{$shadow}: #{$value};
  }

  @each $size, $value in $button-sizes {
    --#{$size}: #{$value};
  }

  // Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --global-font: #{inspect($global-font)};
  --icon-font: #{inspect($icon-font)};
}
