@each $unit in $units {
    @if $unit != 'auto' {
        .g-#{$unit},
        .gx-#{$unit} {
            column-gap: #{$unit * 4}px !important;
        }
        .g-#{$unit},
        .gy-#{$unit} {
            row-gap: #{$unit * 4}px !important;
        }
    }
}
@each $unit in $units {
    @if $unit != 'auto' {
        .p-#{$unit},
        .px-#{$unit},
        .pl-#{$unit} {
            padding-left: #{$unit * 4}px !important;
        }
        .p-#{$unit},
        .px-#{$unit},
        .pr-#{$unit} {
            padding-right: #{$unit * 4}px !important;
        }
        .p-#{$unit},
        .py-#{$unit},
        .pt-#{$unit} {
            padding-top: #{$unit * 4}px !important;
        }
        .p-#{$unit},
        .py-#{$unit},
        .pb-#{$unit} {
            padding-bottom: #{$unit * 4}px !important;
        }
    }
}

@each $unit in $units {
    @if $unit != 'auto' {
        .m-#{$unit},
        .mx-#{$unit},
        .ml-#{$unit} {
            margin-left: #{$unit * 4}px !important;
        }
        .m-#{$unit},
        .mx-#{$unit},
        .mr-#{$unit} {
            margin-right: #{$unit * 4}px !important;
        }
        .m-#{$unit},
        .my-#{$unit},
        .mt-#{$unit} {
            margin-top: #{$unit * 4}px !important;
        }
        .m-#{$unit},
        .my-#{$unit},
        .mb-#{$unit} {
            margin-bottom: #{$unit * 4}px !important;
        }
    } @else {
        .m-#{$unit},
        .mx-#{$unit},
        .ml-#{$unit} {
            margin-left: #{$unit} !important;
        }
        .m-#{$unit},
        .mx-#{$unit},
        .mr-#{$unit} {
            margin-right: #{$unit} !important;
        }
        .m-#{$unit},
        .my-#{$unit},
        .mt-#{$unit} {
            margin-top: #{$unit} !important;
        }
        .m-#{$unit},
        .my-#{$unit},
        .mb-#{$unit} {
            margin-bottom: #{$unit} !important;
        }
    }
}
@each $unit in $units {
    @if $unit != '0' and $unit != 'auto' {
        .m-n#{$unit},
        .mx-n#{$unit},
        .ml-n#{$unit} {
            margin-left: -#{$unit * 4}px !important;
        }
        .m-n#{$unit},
        .mx-n#{$unit},
        .mr-n#{$unit} {
            margin-right: -#{$unit * 4}px !important;
        }
        .m-n#{$unit},
        .my-n#{$unit},
        .mt-n#{$unit} {
            margin-top: -#{$unit * 4}px !important;
        }
        .m-n#{$unit},
        .my-n#{$unit},
        .mb-n#{$unit} {
            margin-bottom: -#{$unit * 4}px !important;
        }
    }
}

@each $breakpoint, $min-width in $breakpoints {
    @media (min-width: #{$min-width}) {
        @each $unit in $units {
            @if $unit != 'auto' {
                .p-#{$breakpoint}-#{$unit},
                .px-#{$breakpoint}-#{$unit},
                .pl-#{$breakpoint}-#{$unit} {
                    padding-left: #{$unit * 4}px !important;
                }
                .p-#{$breakpoint}-#{$unit},
                .px-#{$breakpoint}-#{$unit},
                .pr-#{$breakpoint}-#{$unit} {
                    padding-right: #{$unit * 4}px !important;
                }
                .p-#{$breakpoint}-#{$unit},
                .py-#{$breakpoint}-#{$unit},
                .pt-#{$breakpoint}-#{$unit} {
                    padding-top: #{$unit * 4}px !important;
                }
                .p-#{$breakpoint}-#{$unit},
                .py-#{$breakpoint}-#{$unit},
                .pb-#{$breakpoint}-#{$unit} {
                    padding-bottom: #{$unit * 4}px !important;
                }
            }
        }

        @each $unit in $units {
            @if $unit != 'auto' {
                .m-#{$breakpoint}-#{$unit},
                .mx-#{$breakpoint}-#{$unit},
                .ml-#{$breakpoint}-#{$unit} {
                    margin-left: #{$unit * 4}px !important;
                }
                .m-#{$breakpoint}-#{$unit},
                .mx-#{$breakpoint}-#{$unit},
                .mr-#{$breakpoint}-#{$unit} {
                    margin-right: #{$unit * 4}px !important;
                }
                .m-#{$breakpoint}-#{$unit},
                .my-#{$breakpoint}-#{$unit},
                .mt-#{$breakpoint}-#{$unit} {
                    margin-top: #{$unit * 4}px !important;
                }
                .m-#{$breakpoint}-#{$unit},
                .my-#{$breakpoint}-#{$unit},
                .mb-#{$breakpoint}-#{$unit} {
                    margin-bottom: #{$unit * 4}px !important;
                }
            } @else {
                .m-#{$breakpoint}-#{$unit},
                .mx-#{$breakpoint}-#{$unit},
                .ml-#{$breakpoint}-#{$unit} {
                    margin-left: #{$unit} !important;
                }
                .m-#{$breakpoint}-#{$unit},
                .mx-#{$breakpoint}-#{$unit},
                .mr-#{$breakpoint}-#{$unit} {
                    margin-right: #{$unit} !important;
                }
                .m-#{$breakpoint}-#{$unit},
                .my-#{$breakpoint}-#{$unit},
                .mt-#{$breakpoint}-#{$unit} {
                    margin-top: #{$unit} !important;
                }
                .m-#{$breakpoint}-#{$unit},
                .my-#{$breakpoint}-#{$unit},
                .mb-#{$breakpoint}-#{$unit} {
                    margin-bottom: #{$unit} !important;
                }
            }
        }

        @each $unit in $units {
            @if $unit != '0' and $unit != 'auto' {
                .m-#{$breakpoint}-n#{$unit},
                .mx-#{$breakpoint}-n#{$unit},
                .ml-#{$breakpoint}-n#{$unit} {
                    margin-left: -#{$unit * 4}px !important;
                }
                .m-#{$breakpoint}-n#{$unit},
                .mx-#{$breakpoint}-n#{$unit},
                .mr-#{$breakpoint}-n#{$unit} {
                    margin-right: -#{$unit * 4}px !important;
                }
                .m-#{$breakpoint}-n#{$unit},
                .my-#{$breakpoint}-n#{$unit},
                .mt-#{$breakpoint}-n#{$unit} {
                    margin-top: -#{$unit * 4}px !important;
                }
                .m-#{$breakpoint}-n#{$unit},
                .my-#{$breakpoint}-n#{$unit},
                .mb-#{$breakpoint}-n#{$unit} {
                    margin-bottom: -#{$unit * 4}px !important;
                }
            }
        }
    }
}
