@use "sass:map";
@use "sass:list";

// Colors
$primary: #0083e2;
$secondary: #48bdee;

$danger: #dc3545;
$success: #198754;
$warning: #ffc107;
$info: #1e85b7;
$info-light: #98bbcd;

$black: #1b1b1b;
$white: #fff;

$border: #ccc;
$border-light: #f2f2f2;
$bg-light: #fafafa;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$colors: (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'gray-100': $gray-100,
    'gray-200': $gray-200,
    'gray-300': $gray-300,
    'gray-400': $gray-400,
    'gray-500': $gray-500,
    'gray-600': $gray-600,
    'gray-700': $gray-700,
    'gray-800': $gray-800,
    'gray-900': $gray-900,
) !default;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    //
    'danger': $danger,
    'success': $success,
    'warning': $warning,
    'info': $info,
    'info-light': $info-light,
    //
    'black': $black,
    'white': $white,
    //
    'border': $border,
    'border-light': $border-light,
    'light': $bg-light,
) !default;

$body-bg: $white !default;
$body-color: $black !default;

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

//Typography
$global-font: 'Barlow', 'Roboto', 'Arial', sans-serif !default;
$global-font-amount: 'Roboto Mono', 'Arial', sans-serif !default;
$icon-font: 'phosphor' !important;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
// $font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: 12px !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-100: 100 !default;
$font-weight-200: 200 !default;
$font-weight-300: 300 !default;
$font-weight-400: 400 !default;
$font-weight-500: 500 !default;
$font-weight-600: 600 !default;
$font-weight-700: 700 !default;
$font-weight-800: 800 !default;
$font-weight-900: 900 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 19/8 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1 !default;
$h4-font-size: $font-size-base * 1 !default;
$h5-font-size: $font-size-base * 1 !default;
$h6-font-size: $font-size-base !default;

$paragraph-margin-bottom: 1rem !default;
$headings-margin-bottom: 0.5em !default;

$button-size-sm: 28px !default;
$button-size: 36px !default;
$button-size-lg: 44px !default;
$button-size-xl: 56px !default;
$button-sizes: (
    'btn-size-sm': $button-size-sm,
    'btn-size': $button-size,
    'btn-size-lg': $button-size-lg,
    'btn-size-xl': $button-size-xl,
) !default;

// Sizes
$sizes: ('sm', 'lg', 'xl') !default;

$units: ('auto') !default;
@for $i from 30 through 0 {
    $units: join($i, $units);
}

// Responsive grid
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoints: (
    'sm': $breakpoint-sm,
    'md': $breakpoint-md,
    'lg': $breakpoint-lg,
    'xl': $breakpoint-xl,
    'xxl': $breakpoint-xxl,
) !default;

$container-max-widths: (
    'sm': 540px,
    'md': 720px,
    'lg': 960px,
    'xl': 1140px,
    'xxl': 1340px,
) !default;

$displays: (none, inline, inline-block, inline-flex, inline-grid, block, flex, grid) !default;
$alignments: (
    'stretch': 'stretch',
    'center': 'center',
    'start': 'flex-start',
    'end': 'flex-end',
    'baseline': 'baseline',
) !default;
$justifies: (
    'stretch': 'stretch',
    'center': 'center',
    'start': 'flex-start',
    'end': 'flex-end',
    'between': 'space-between',
    'around': 'space-around',
) !default;
$text-alignments: ('center', 'left', 'right', 'justify') !default;
$align-types: ('items', 'content', 'self') !default;
$position-type: ('relative', 'absolute', 'fixed', 'sticky', 'static') !default;
////

$line-height-lg: 1.5 !default;
$line-height-sm: 1.2 !default;

$border-width: 1px !default;
$border-color: $secondary !default;

$border-radius: 0.5rem !default;
$border-radius-lg: 0.75rem !default;
$border-radius-sm: 0.25rem !default;

$rounded-pill: 50rem !default;

$box-shadow-sm: -1px 1px 3px 1px rgba(#000, 0.1) !default;
$box-shadow: -3px 5px 10px 0 rgba(#000, 0.08) !default;
$box-shadow-lg: -15px 30px 45px 0 rgba(#000, 0.05) !default;
$box-shadow-btn: -10px 15px 25px rgba(#000, 0.08) !default;

$shadows: (
    'shadow-sm': $box-shadow-sm,
    'shadow': $box-shadow,
    'shadow-lg': $box-shadow-lg,
    'shadow-btn': $box-shadow-btn,
) !default;

$transition-base: all 0.2s ease-in-out !default;

$aspect-ratios: () !default;
$aspect-ratios: join(((21 9), (16 9), (4 3), (1 1), (2 1), (3 2), (3 1), (4 1)), $aspect-ratios);

$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
