<template>
    <div class="home-container" ref="homeContainer" @scroll="handleScroll" :style="{ 'overflow-y': showMenu ? 'hidden' : 'auto' }">
        <header ref="header" id="home-header" class="header sticky-top" :class="{ 'dark-header': headerClass.dark }" :style="[headerStyle, { top: !headerClass.noSticky ? 0 : -1 * headerHeight + 'px' }]">
            <div class="header-grid align-items-center px-6 px-xl-25">
                <a href="./">
                    <Logo height="var(--btn-size)" :light="headerClass.dark" />
                </a>
                <MainNav :show="showMenu" class="d-flex align-items-center justify-content-end" />
            </div>
        </header>
        <main>
            <section id="hero" ref="hero" :style="{ height: 'calc(100vh - ' + headerHeight + 'px)' }" class="d-flex align-items-center px-6 px-xl-0">
                <div class="container home-hero-grid">
                    <h1 class="hero-heading align-self-center slide-in-blurred-left mb-16">
                        Cloud <br />
                        Commerce <br />
                        Salesforce <br />
                        agency
                    </h1>
                    <img src="~/assets/images/Hero-Illustration1.svg" style="grid-row: span 2" />
                    <p class="hero-intro slide-in-blurred-right">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ullam porro repudiandae in voluptatum atque, esse voluptas at fuga molestias aliquam placeat
                    </p>
                </div>
            </section>
            <section id="services" ref="services" class="px-6 px-xl-0">
                <div class="container py-8 py-md-16">
                    <h3 class="section-title mb-4 mt-8">WHAT WE DO</h3>

                    <p class="mb-8">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aut assumenda vitae deserunt incidunt, sit repellat amet, libero quisquam ratione dolorum quasi a ipsam soluta, sequi reprehenderit
                        perspiciatis praesentium! Aliquid unde atque voluptate laudantium voluptatum, consequuntur reiciendis nihil excepturi labore nesciunt corrupti magni in cupiditate! Explicabo temporibus cumque ullam
                        voluptatem?
                        <a href="#" class="btn-light d-flex d-md-inline-flex"><small class="text-primary">SEE ALL</small></a>
                    </p>

                    <div class="home-services-grid" ref="servicesGrid">
                        <a
                            v-for="(service, index) in services"
                            :href="service.url"
                            class="service-item"
                            :class="[{ 'fade-in-bottom': isSer, 'fade-out-bottom': !isSer }, service.bg]"
                            :style="{ 'animation-delay': isSer ? index * 0.2 + 's' : (portfolios.length - index) * 0.2 + 's' }"
                            :key="index"
                        >
                            <div class="p-8" style="transition: 0.2s ease-in-out">
                                <div>
                                    <img :src="requireImage(service.img)" style="height: 56px; filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2))" />
                                </div>
                                <h4 class="mt-auto">
                                    {{ service.name }}
                                    <ph-arrow-right weight="bold" class="icon" />
                                </h4>
                                <small class="d-none d-md-block">{{ service.description }}</small>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <section id="features" ref="features" class="px-6 px-xl-0">
                <div class="container">
                    <div class="featured-card d-grid p-6 p-md-16" :class="{ 'fade-in-bottom': isFeat, 'fade-out-bottom': !isFeat }" style="animation-delay: 0.6s">
                        <h2 class="card-title text-white">
                            You have an idea? <br />
                            Let's talk
                        </h2>
                        <a href="#" class="btn-light-xl justify-self-start px-8">
                            <strong class="mr-4">START A PROJECT NOW</strong>
                            <ph-arrow-right :size="24" weight="bold" class="icon" />
                        </a>
                        <img src="~/assets/images/Illustration.svg" class="justify-self-end" style="margin-top: -20%" />
                    </div>
                </div>
            </section>
            <section id="portfolios" ref="portfolios" class="px-6 px-xl-0">
                <div class="container py-8 py-md-16">
                    <div class="divider mb-16"></div>
                    <h3 class="section-title mb-4 mt-8">WHAT WE DID</h3>

                    <p class="mb-8">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aut assumenda vitae deserunt incidunt, sit repellat amet, libero quisquam ratione dolorum quasi a ipsam soluta, sequi reprehenderit
                        perspiciatis praesentium! Aliquid unde atque voluptate laudantium voluptatum, consequuntur reiciendis nihil excepturi labore nesciunt corrupti magni in cupiditate! Explicabo temporibus cumque ullam
                        voluptatem?
                        <a href="#" class="btn-light d-flex d-md-inline-flex"><small class="text-primary">SEE ALL</small></a>
                    </p>
                    <div class="home-portfolios-grid">
                        <a
                            v-for="(portfolio, index) in portfolios"
                            :href="portfolio.url"
                            class="portfolio-item"
                            :class="isPort ? 'fade-in-bottom' : 'fade-out-bottom'"
                            :style="{ 'animation-delay': isPort ? index * 0.2 + 's' : (portfolios.length - index) * 0.2 + 's' }"
                            :key="index"
                        >
                            <div class="p-8" style="transition: 0.2s ease-in-out">
                                <div class="media-3x2 mx-n4 mt-n4" style="border-radius: 0.75rem">
                                    <div class="media-wrapper">
                                        <img :src="requireImage(portfolio.img)" />
                                    </div>
                                    <div class="media-wrapper"></div>
                                </div>
                                <h4 class="mt-4 mb-auto">
                                    {{ portfolio.name }}
                                    <ph-arrow-right weight="bold" class="icon" />
                                </h4>
                                <small class="d-none d-md-block">{{ portfolio.description }}</small>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <div class="py-8 py-md-20" style="background-color: #212223; background-image: linear-gradient(135deg, hsla(0, 0%, 100%, 0.05), hsla(0, 0%, 100%, 0))">
                <section id="blogs" ref="blogs" class="px-6 px-xl-0">
                    <div class="container d-flex justify-content-center" style="flex-direction: column">
                        <h3 class="section-title text-white mb-4 mt-16">KEEP UPDATED</h3>
                        <div class="home-blogs-grid mx-auto mt-8">
                            <div class="blog-item" v-for="blog in blogs" :key="blog">
                                <a :href="blog.url" class="blog-heading align-self-center slide-in-blurred-left">
                                    {{ blog.title }}
                                </a>
                                <div class="blog-info">
                                    <div class="editor">
                                        <img :src="requireImage(blog.img)" style="object-fit: cover; width: 100%; height: 100%" />
                                    </div>
                                    <div class="text-white">
                                        <span>{{ blog.editor }}</span> <br />
                                        <small style="color: rgba(255, 255, 255, 0.5)">{{ blog.lastUpdated }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mx-auto mt-16">
                            <strong class="text-white">For faster updating, Follow us on:</strong>
                            <div class="d-grid mt-8" style="grid-template-columns: 1fr 1fr 1fr; gap: 2rem">
                                <a href="#" class="p-0">
                                    <img src="~assets/images/linkedin.svg" alt="" />
                                </a>
                                <a href="#" class="p-0">
                                    <img src="~assets/images/twitter.svg" alt="" />
                                </a>
                                <a href="#" class="p-0">
                                    <img src="~assets/images/facebook.svg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="jobs" ref="jobs" class="px-6 px-xl-0">
                    <div class="container py-8 py-md-20">
                        <h3 class="section-title text-white mb-16 mt-16">LIKE WHAT WE DO? JOIN US</h3>
                        <div class="home-jobs-grid">
                            <a
                                v-for="(job, index) in jobs"
                                :href="job.url"
                                class="job-item"
                                :class="isJob ? 'fade-in-bottom' : 'fade-out-bottom'"
                                :style="{ 'animation-delay': isJob ? index * 0.2 + 's' : (jobs.length - index) * 0.2 + 's' }"
                                :key="index"
                            >
                                <div class="p-8" style="transition: 0.2s ease-in-out">
                                    <div class="media-3x2 mx-n4 mt-n4" style="border-radius: 0.75rem">
                                        <div class="media-wrapper">
                                            <img :src="requireImage(job.img)" />
                                        </div>
                                        <div class="media-wrapper"></div>
                                    </div>
                                    <h4 class="mt-4 mb-auto">
                                        {{ job.name }}
                                        <ph-arrow-right weight="bold" class="icon" />
                                    </h4>
                                    <small class="d-none d-md-block">{{ job.description }}</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <Footer ref="footer" />
        <div class="mobile-nav d-flex d-md-none align-items-center fade-in-bottom px-6" v-if="currentPos">
            <div class="btn-light d-flex align-items-center justify-content-center mx-auto" style="overflow: hidden" @click="showMenu = !showMenu">
                <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="!showMenu" class="slide-in-blurred-left">
                    <path d="M2 2H23" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15 10H23" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M10 18H23" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="showMenu" class="slide-in-blurred-right">
                    <path d="M2 10L12 18" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M2 10H23" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M2 10L12 2" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div>
                <a href="#" class="btn-primary-gradient-lg px-8">
                    <span class="mr-2">Get in touch</span>
                    <ph-arrow-right class="icon" :size="16" weight="bold" />
                </a>
            </div>
        </div>
    </div>
</template>

<script>
import { PhArrowRight } from "phosphor-vue";
export default {
    components: { PhArrowRight },
    data: () => {
        return {
            currentPos: 0,
            currentBottomPos: 0,
            headerStyle: {},
            headerClass: {
                dark: false,
                noSticky: false,
            },
            initHeaderHeight: 0,
            lastScrollTop: 0,
            isDownScroll: false,
            isPassedHero: false,
            showMenu: false,
            isHero: true,
            isSer: false,
            isFeat: false,
            isPort: false,
            isBlog: false,
            isJob: false,
            isFoot: false,

            services: [
                {
                    url: "#",
                    bg: "blue-bg",
                    img: "commers-cloud.png",
                    name: "Cloud Commerce based on Salesforce",
                    description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit.",
                },
                {
                    url: "#",
                    bg: "dark-bg",
                    img: "Profile.png",
                    name: "Outsourcing",
                    description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit.",
                },
                {
                    url: "#",
                    bg: "dark-bg",
                    img: "Setting.png",
                    name: "Software Maintenance & Support",
                    description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit.",
                },
                {
                    url: "#",
                    bg: "dark-bg",
                    img: "testing.png",
                    name: "Automation Testing",
                    description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit.",
                },
            ],

            portfolios: [
                {
                    url: "#",
                    img: "cover1.png",
                    name: "Cloud Commerce based on Salesforce",
                    description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit.",
                },
                {
                    url: "#",
                    img: "cover2.png",
                    name: "Outsourcing",
                    description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit.",
                },
                {
                    url: "#",
                    img: "cover3.png",
                    name: "Software Maintenance & Support",
                    description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit.",
                },
            ],

            blogs: [
                {
                    url: "#",
                    img: "avatar.jpg",
                    title: "Happy New Year 2021! Thanks to our awsome partners. Our holyday schedule.",
                    editor: "NTB",
                    lastUpdated: "01-01-2021",
                },
                {
                    url: "#",
                    img: "avatar.jpg",
                    title: "Happy New Year 2021! Thanks to our awsome partners. Our holyday schedule.",
                    editor: "NTB",
                    lastUpdated: "01-01-2021",
                },
                {
                    url: "#",
                    img: "avatar.jpg",
                    title: "Happy New Year 2021! Thanks to our awsome partners. Our holyday schedule.",
                    editor: "NTB",
                    lastUpdated: "01-01-2021",
                },
                {
                    url: "#",
                    img: "avatar.jpg",
                    title: "Happy New Year 2021! Thanks to our awsome partners. Our holyday schedule.",
                    editor: "NTB",
                    lastUpdated: "01-01-2021",
                },
                {
                    url: "#",
                    img: "avatar.jpg",
                    title: "Happy New Year 2021! Thanks to our awsome partners. Our holyday schedule.",
                    lastUpdated: "01-01-2021",
                },
            ],

            jobs: [
                {
                    url: "#",
                    img: "cover1.png",
                    name: "Cloud Commerce based on Salesforce",
                    description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit.",
                },
                {
                    url: "#",
                    img: "cover2.png",
                    name: "Outsourcing",
                    description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit.",
                },
                {
                    url: "#",
                    img: "cover3.png",
                    name: "Software Maintenance & Support",
                    description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit.",
                },
            ],
        };
    },
    mounted() {
        this.currentBottomPos = this.currentPos + window.innerHeight;
        this.initHeaderHeight = this.$refs.header.clientHeight;
    },
    computed: {
        headerHeight() {
            return this.initHeaderHeight;
        },
    },
    watch: {
        currentPos(value) {
            var headerBottomPos = value + this.headerHeight;
            if (value > this.initHeaderHeight) {
                this.headerStyle = {
                    "border-bottom": "1px solid rgba(255,255,255,0.75)",
                    "box-shadow": "0 15px 25px rgba(0,0,0,0.025)",
                };
            } else {
                this.headerStyle = {};
            }
            if (headerBottomPos >= this.$refs.services.offsetTop) {
                this.headerStyle = {
                    "background-color": "rgba(255,255,255,0.85)",
                    "border-bottom": "1px solid #fff",
                };
            }
            if (headerBottomPos >= this.$refs.blogs.offsetTop) {
                this.headerClass.dark = true;
            } else {
                this.headerClass.dark = false;
            }
            if (headerBottomPos >= this.$refs.footer.offsetTop + this.initHeaderHeight) {
                this.headerClass.noSticky = true;
            } else {
                this.headerClass.noSticky = false;
            }
            if (this.currentBottomPos >= this.$refs.services.offsetTop) {
                this.isSer = true;
            } else {
                this.isSer = false;
            }
            if (this.currentBottomPos >= this.$refs.features.offsetTop) {
                this.isFeat = true;
            } else {
                this.isFeat = false;
            }
            if (this.currentBottomPos >= this.$refs.portfolios.offsetTop) {
                this.isPort = true;
            } else {
                this.isPort = false;
            }
            if (this.currentBottomPos >= this.$refs.portfolios.offsetTop) {
                this.isPort = true;
            } else {
                this.isPort = false;
            }
            if (this.currentBottomPos >= this.$refs.blogs.offsetTop) {
                this.isBlog = true;
            } else {
                this.isBlog = false;
            }
            if (this.currentBottomPos >= this.$refs.jobs.offsetTop) {
                this.isJob = true;
            } else {
                this.isJob = false;
            }
            if (this.currentBottomPos >= this.$refs.footer.offsetTop) {
                this.isFoot = true;
            } else {
                this.isFoot = false;
            }
        },
    },
    methods: {
        handleScroll(event) {
            this.currentPos = event.target.scrollTop;
            this.currentBottomPos = this.currentPos + window.innerHeight;
            if (this.currentPos > this.lastScrollTop) {
                this.isDownScroll = true;
            } else {
                this.isDownScroll = false;
            }
            this.lastScrollTop = this.currentPos <= 0 ? 0 : this.currentPos;
        },
        requireImage(filename) {
            return require(`~/assets/images/${filename}`);
        },
    },
};
</script>

<style>
.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-active {
    transform: translateX(10px);
    opacity: 0;
}
.slide-fade {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
</style>

